.navbar {
    background-color: #333;
    padding: 10px 20px;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__item {
    margin-right: 15px;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: #3F51B5;
}